body {
  background: DarkSlateGray;
  display: block;
  margin: 0;
  height: 100vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: salmon;
  pointer-events: none; }

h1, svg {
  position: absolute;
  width: 250px;
  top: 50%;
  left: 50%; }

h1 {
  margin: 30px 0 0 -120px;
  height: 287.5px;
  font-family: helvetica;
  font-weight: lighter;
  font-size: 20px;
  letter-spacing: 6px;
  line-height: 287.5px;
  text-align: center;
  z-index: 100; }

svg {
  fill: salmon;
  margin: -143.75px 0 0 -125px; }
  svg #shape polygon {
    opacity: 0;
    -webkit-transition: all .25s ease;
            transition: all .25s ease; }
    svg #shape polygon.active {
      opacity: 1; }
  svg > polygon {
    fill: #E4DED0;

  }
